---
import Layout from '../components/Layout.astro';
import Icon from 'astro-icon'

import { getIndex } from './api/index.json';

const menu = await getIndex();
const getAppLink = (apiUrl: string) => apiUrl.replace('api/', '').replace('.json', '');

const apiEntrypoint = (import.meta.env.PUBLIC_BASE_URL || '/') + 'api.json';
---

<Layout
    title="Words"
    description="Words"
>
    <header class="p-8 text-center">
        <h1 class="text-4xl font-bold mb-2 dark:text-white">Words</h1>
        <p class="text-gray-500">App for learning vocabulary</p>
    </header>

    <nav>
        <ul>
            {Object.entries(menu).map(([lang, wordSets]) => (
                <li class="border-2 border-gray-100 dark:border-gray-700 rounded-lg mb-2 bg-white dark:bg-gray-800 dark:text-white">
                    <span class="flex items-center justify-between w-full p-5 border-b-2 border-gray-100 dark:border-gray-700">
                        <span class="text-gray-700 dark:text-white text-xl">{lang}</span>
                    </span>

                    <ol class="ml-5 p-5 list-disc">
                        {Object.entries(wordSets).map(([name, apiUrl]) => (
                            <li>
                                <a href={getAppLink(apiUrl)} class="px-1 py-2 block hover:underline text-blue-600">{name}</a>
                            </li>
                        ))}
                    </ol>
                </li>
            ))}
        </ul>
    </nav>

    <footer class="p-4 text-center text-gray-500">
        <p>Made with ❤️ by <a href="https://klapacz.dev" class="underline hover:text-blue-600">Korneliusz Łapacz</a></p>
        <nav class="flex justify-center">
            <a href="//github.com/klapacz/words" class="flex p-3 hover:text-blue-600">
                <Icon name="tabler:brand-github" class="w-5 h-5 mr-2"/> Source
            </a>
            <a href={apiEntrypoint} class="flex p-3 hover:text-blue-600">
                <Icon name="tabler:code" class="w-5 h-5 mr-2"/>
                API
            </a>
        </nav>
    </footer>
</Layout>
