---
import Layout from '../components/Layout.astro';

import { getIndex } from './api/index.json';

const menu = await getIndex();
const getAppLink = (apiUrl: string) => apiUrl.replace('api/', '').replace('.json', '');
---

<Layout
    title="Words"
    description="Words"
>
    <ul>
        {Object.entries(menu).map(([lang, wordSets]) => (
            <li>
                {lang}
                <ol>
                    {Object.entries(wordSets).map(([name, apiUrl]) => (
                        <li>
                            <a href={getAppLink(apiUrl)}>{name}</a>
                        </li>
                    ))}
                </ol>
            </li>
        ))}
    </ul>
</Layout>
